<div class="ly-membership">
    <div class="page-width">
        <div class="ly-membership__wrapper">
            <h3 class="ly-membership__title secondary-heading">{{ section.settings.membership_title }}</h3>

            <div class="ly-membership__table">
                <div id="sourceDiv" data-lion-tier-benefits-compare></div>
            </div>

            <div class="ly-home__data-lion-tier-overview" data-lion-tier-overview></div>

            <div class="ly-membership__mobile--table"></div>

            <div class="ly-membership__auth">
                <h3 class="ly-membership__heading primary-heading">{{ section.settings.membership_heading }}</h3>
                <div class="ly-membership__buttons">
                    <a class="ly-membership__cta" aria-label="Redirecting to sign up page" href="{{ section.settings.membership_url }}">{{ section.settings.membership_cta }}</a>
                    <a class="ly-membership__cta outline" aria-label="Redirecting to login page" href="/account/login">already a member</a>
                </div>
            </div>
        </div>
    </div>
</div>