{{ 'typography.css' | asset_url | stylesheet_tag }}

<div class="section typography-overview"> 
  <div class="header-section">
    <h3 class="style-guide-heading">Typography: Overview</h3>
    <span class="style-guide-span">LOYALTY PAGE</span>
  </div>
  <div class="main">
    <div class="desktop-grid">
      <div class="device-title">
        <span class="desktop-visible">Desktop</span>
        <span class="mobile-visible">Mobile</span>
      </div>
      <div>
        <div class="desktop-container">
          <div class="headings-container">
            <h1>Heading 1 - Felix Titling MT Std,  Regular,  60pt/80PT</h1>
            <h2>Heading 2 - Felix Titling MT Std,  Regular,  40pt / 58pt</h2>
            <h3>Heading 3 -Galano Grotesque,  Medium,  20pt / 39pt, 20% TRACKING</h3>
            <h4>Body  Uppercase - Galano Grotesque,  MEDIUM,  16pt / 29pt, 20 % tracking</h4>
            <h5>Body  Uppercase - Galano Grotesque,  Regular,  16pt / 29pt, 20 % tracking</h5>
          </div> 
          <div class="text-container">
            <p class="text-large">Body  - Galano Grotesque,  Regular,  16pt / 29pt</p>
            <p class="text">Body - Galano Grotesque, Regular, 14PT / 24 PT</p>
            <p class="text-small">Body Small  - Galano Grotesque, Regular, 12PT / 24 PT</p>
            <p class="text upper-case">Body Small uppercase - Galano Grotesque, Regular, 12PT / 24 PT</p>
            <p class="text-small upper-case">Body Small Uppercase - Galano Grotesque, Regular, 10PT / 24 PT</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-grid">
      <div class="device-title">
        <span>Mobile</span>
      </div>
      <div>
        <div class="mobile-container">
          <div class="headings-container">
            <h1>Heading 1 - Felix Titling MT Std,  Regular,  40pt </h1>
            <h2>Heading 2 - Felix Titling MT Std,  Regular,  30pt </h2>
            <h3>Heading 3 - Galano Grotesque,  Medium,  16pt, 20% TRACKING</h3>
            <h4>Body  Uppercase - Galano Grotesque,  MEDIUM,  14pt, 20 % tracking</h4>
            <h5>Body  Uppercase - Galano Grotesque,  Regular,  14pt , 20 % tracking</h5>
          </div>
          <div class="text-container">
            <p class="text-large">Body  - Galano Grotesque,  Regular,  14pt / 24pt</p>
            <p class="text">Body  - Galano Grotesque,  Regular,  12pt </p>
            <p class="text-small">Body Small uppercase - Galano Grotesque, Regular, 10PT</p>
            <p class="text upper-case">Body  Small Uppercase - Galano Grotesque,  Regular,  10pt </p>
            <p class="text-small upper-case">Body  Small - Galano Grotesque,  Regular,  10pt </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section buttons-section">
  <div class="header-section">
    <h3 class="style-guide-heading">button styling</h3>
    <span class="style-guide-span">LOYALTY PAGE</span>
  </div>
  <div class="buttons-bar">
    <div>
      <p>Button</p>
    </div>
    <div>
      <p>Primary CTA</p>
    </div>
    <div>
      <p>Primary CTA Outline</p>
    </div>
    <div>
      <p>Secondary CTA Outline</p>
    </div>
    <div>
      <p>Tertiary CTA</p>
    </div>
  </div>
  <div class="btns-desktop">
    <div class="buttons-device-title">
      <p>Desktop</p>
    </div>
    <div class="btn-default-container flex">
      <div>
        <p>Default</p>
      </div>
      <div>
        <button class="Button Button-primary">SHOP</button>
      </div>
      <div>
        <button class="Button Button-primary-outline">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary">SHOP</button>
      </div>
      <div>
        <button class="Button Button-tertiary">SHOP</button>
      </div>
    </div>
    <div class="btn-hover-container flex">
      <div>
        <p>Hover</p>
      </div>
      <div>
        <button class="Button Button-primary-hover">SHOP</button>
      </div>
      <div>
        <button class="Button Button-primary-outline-hover">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary Button-secondary-hover">SHOP</button>
      </div>
      <div>
        <button class="Button Button-tertiary Button-tertiary-hover">SHOP</button>
      </div>
    </div>
    <div class="btn-disabled-container flex">
      <div>
        <p>Disabled/Inactive</p>
      </div>
      <div>
        <button class="Button Button-primary Button-disabled">SHOP</button>
      </div>
      <div>
        <button class="Button Button-primary-outline Button-disabled">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary Button-disabled">SHOP</button> 
      </div>
      <div>
        <button class="Button Button-tertiary Button-disabled">SHOP</button>
      </div>
    </div>
    <div class="btn-focus-container flex">
      <div>
        <p>Focus 
          (ADA)</p>
      </div>
      <div>
        <button class="Button Button-primary Button-primary-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary Button-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-tertiary Button-focus">SHOP</button>
      </div>
    </div>
  </div>
  <div class="btns-mobile">
    <div class="buttons-device-title">
      <p>Mobile</p>
    </div>
    <div class="btn-default-container flex">
      <div>
        <p>Default</p>
      </div>
      <div>
        <button class="Button Button-primary">SHOP</button>
      </div>
      <div>
        <button class="Button Button-primary-outline">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary">SHOP</button>
      </div>
      <div>
        <button class="Button Button-tertiary">SHOP</button>
      </div>
    </div>
    <div class="btn-hover-container flex">
      <div>
        <p>Hover</p>
      </div>
      <div>
        {% comment %} <button class="Button Button-primary-hover">SHOP</button> {% endcomment %}
      </div>
      <div>
        {% comment %} <button class="Button Button-primary-outline-hover">SHOP</button> {% endcomment %}
      </div>
      <div>
        {% comment %} <button class="Button Button-secondary Button-secondary-hover">SHOP</button> {% endcomment %}
      </div>
      <div>
        {% comment %} <button class="Button Button-tertiary Button-tertiary-hover">SHOP</button> {% endcomment %}
      </div>
    </div>
    <div class="btn-disabled-container flex">
      <div>
        <p>Disabled/Inactive</p>
      </div>
      <div>
        <button class="Button Button-primary Button-disabled">SHOP</button>
      </div>
      <div>
        <button class="Button Button-primary-outline Button-disabled">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary Button-disabled">SHOP</button> 
      </div>
      <div>
        <button class="Button Button-tertiary Button-disabled">SHOP</button>
      </div>
    </div>
    <div class="btn-focus-container flex">
      <div>
        <p>Focus 
          (ADA)</p>
      </div>
      <div>
        <button class="Button Button-primary Button-primary-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-secondary Button-focus">SHOP</button>
      </div>
      <div>
        <button class="Button Button-tertiary Button-focus">SHOP</button>
      </div>
    </div>
  </div>
  <div class="btns-mobile-display">
    <div class="mobile-display-type">
      <p>Primary CTA</p>
      <div class="mobile-dispaly-state">
        <p>Default</p>
        <button class="Button Button-primary">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Hover</p>
        <button class="Button Button-primary-hover">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Disabled</p>
        <button class="Button Button-primary Button-disabled">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Focus (ADA)</p>
        <button class="Button Button-primary Button-primary-focus">Shop</button>
      </div>
    </div>
    <div class="mobile-display-type">
      <p>Primary CTA Outline</p>
      <div class="mobile-dispaly-state">
        <p>Default</p>
        <button class="Button Button-primary-outline">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Hover</p>
        <button class="Button Button-primary-outline-hover">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Disabled</p>
        <button class="Button Button-primary-outline Button-disabled">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Focus (ADA)</p>
        <button class="Button Button-primary-outline Button-focus">Shop</button>
      </div>
    </div>
    <div class="mobile-display-type">
      <p>Secondary CTA Outline</p>
      <div class="mobile-dispaly-state">
        <p>Default</p>
        <button class="Button Button-secondary">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Hover</p>
        <button class="Button Button-secondary Button-secondary-hover">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Disabled</p>
        <button class="Button Button-secondary Button-disabled">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Focus (ADA)</p>
        <button class="Button Button-secondary Button-focus">Shop</button>
      </div>
    </div>
    <div class="mobile-display-type">
      <p>Tertiary CTA</p>
      <div class="mobile-dispaly-state">
        <p>Default</p>
        <button class="Button Button-tertiary">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Hover</p>
        <button class="Button Button-tertiary Button-tertiary-hover">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Disabled</p>
        <button class="Button Button-tertiary Button-disabled">Shop</button>
      </div>
      <div class="mobile-dispaly-state">
        <p>Focus (ADA)</p>
        <button class="Button Button-tertiary Button-focus">Shop</button>
      </div>
    </div>
  </div>
</div>
<div class="section icons-section">
    <div class="header-section">
        <h3 class="style-guide-heading">icons</h3>
        <span class="style-guide-span">LOYALTY PAGE</span>
    </div>
    <div class="icons-wrapper">
        <span>
            {% render 'icon' with 'rewards' %}
        </span>
        <span>
            {% render 'icon' with 'orders' %}
        </span>
        <span>
            {% render 'icon' with 'icon-wishlist' %}
        </span>
        <span>
            {% render 'icon' with 'icon-profile' %}
        </span>
        <span>
            {% render 'icon' with 'faq' %}
        </span>
        <span>
            {% render 'icon' with 'icon-contact' %}
        </span>
    </div>
    <div class="icons-footer">
        <h3>sVG DROPBOX</h3>
        <a href="https://www.dropbox.com/scl/fo/1jcf0eqels43wtgg30hyg/ANBVRATNGgj4MPBYRdsutT4?rlkey=y4aolvri93shy9b87kxt2ggqe&st=bv7vc0jz&dl=0">DROPBOX LINK</a>
    </div>
</div>