.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;  
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: calc(100% - 1px);
  z-index: 99999;
  padding: 2.4rem 2rem;
  justify-content: space-between;
}

.mega-menu__content.mega-menu_shadow {
  box-shadow: 0 3rem 2rem rgb(0 0 0 / 10%);
}

.overlay::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4)
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

@media screen and (min-width: 990px) {
  .mega-menu .mega-menu__content.mega-menu__content-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    width: auto;
    height: auto;
  }
}

.js .mega-menu__content.mega-menu__content--3-push,
.js .mega-menu__content.mega-menu__content--4-push {
  justify-content: space-between;
  gap: 4rem;
}
.js .mega-menu__content.mega-menu__content--3,
.mega-menu__content--4 {
  display: block;
}

.mega-menu__link {
  color: var(--item-color);
  display: block;
  font-size: 1.3rem;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link:hover {
  color: var(--item-hover-color)
}

.mega-menu__link--level-2 {
  color: var(--item-color);
  font-weight: 600;
}

.mega-menu__link--level-2:hover {
  color: var(--item-hover-color)
}

span.mega-menu__link--level-2 {
  font-family: inherit;
}
span.mega-menu__link--level-2:hover {
  color: var(--item-color);
}

.menu-drawer__menu-item--level-4 {
  padding: .7rem 1.1rem;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 0;
}

.mega-menu__list {
  display: flex!important;
  flex-wrap: nowrap;
  gap: 1.5rem;
  list-style: none;
  max-width: 100%;
  padding: 0;
}

.mega-menu__list li {
  width: auto;
}

@media (min-width: 1250px) {
  .mega-menu__list li {
      min-width: 135px;
  }
}

.has-no-children {
  font-family: "GalanoGrotesqueMedium";
}

@media screen and (min-width: 1380px) {

  .mega-menu__list {
    display: flex!important;
    flex-wrap: nowrap;
    list-style: none;
    max-width: 100%;
    padding: 0;
  }
}

.mega-menu__list > li {
  padding-bottom: 3rem;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link.mega-menu__link--1:hover {
  font-weight: 600;
}

.mega-menu__link.mega-menu__link--2:hover {
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.mega-menu:not([data-handle="ready-to-wear"]) .mega-menu__push-img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity .3s ease;
}

.mega-menu__push-img {
  display: block;
}
 
.mega-menu:not([data-handle="ready-to-wear"]) .push-container {
  overflow: hidden;
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--small,
.mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--small {
  position: relative;
  width: clamp(15vw, 25vw - 2.5rem, 25vw);
  height: 0;
  padding-bottom: clamp(15vw, 25vw - 2.5rem, 25vw);
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--medium,
.mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--medium {
  position: relative;
  width: clamp(45vw, 50vw, 50vw);
  height: 0;
  padding-bottom: clamp(15vw, 25vw - 2.5rem, 25vw);
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--large,
.mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--large {
  position: relative;
  width: clamp(70vw, 75vw, 80vw);
  height: 0;
  padding-bottom: clamp(15vw, 25vw - 2.5rem, 25vw);
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--small-mid,
.mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--small-mid {
  position: relative;
  width: clamp(30vw, 35.5vw, 35.5vw);
  height: 0;
  padding-bottom: clamp(15vw, 25vw - 2.5rem, 25vw);
}

@media screen and (min-width: 1600px) {
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--small,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--small {
    width: clamp(15vw, 25vw, 25vw);
    padding-bottom: clamp(15vw, 25vw, 25vw);
  }

  .mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--medium,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--medium,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--large,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--large,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container__image--small-mid,
  .mega-menu:not([data-handle="ready-to-wear"]) .push-container.push-container__video--small-mid {
    padding-bottom: clamp(15vw, 25vw, 25vw);
  }
}

.push-container img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.mega-menu[data-handle="ready-to-wear"] .push-container video {
  max-width: 100%;
}

.mega-menu:not([data-handle="ready-to-wear"]) .push-container img {
  width: 100%;
  height: 100%;
}

.mega-menu .push-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay);
}

.push-container h3 {
  position: absolute;
  left: 50%;
  z-index: 1;
  color: #fff;
  text-align: center;
  width: 80%;
  margin:0;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2vw, 4rem);
}

.push-container h3[data-position="top"] {
  top: 15%;
  transform: translate(-50%, 0);
}

.push-container h3[data-position="middle"] {
  top: 50%;
  transform: translate(-50%, -50%);
}

.push-container h3[data-position="bottom"] {
  bottom: 15%;
  transform: translate(-50%, 0);
}

.mega-menu__push-heading {
  color: #1c1b1b;
  font-size: 1.4rem;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  max-width: 258px;
  margin: 1rem auto;
  display: block;
  font-family: var(--body-font);
}

.push-container__video-link {
  display: block!important;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mega-menu a.list-menu__item.menu-open  {
  text-decoration: underline;
}

.mega-menu a.list-menu__item:active {
  color: var(--dark-silver)
}

.mega-menu-push-item {
  gap:2rem;
}

.mega-menu:not([data-handle="ready-to-wear"]) .mega-menu-push-item {
  flex-shrink: 0;
}


.mega-menu--wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem var(--padding-desktop, 4rem);
  gap: 1.5rem;
}

.mega-menu:not([data-handle="ready-to-wear"]) .mega-menu--wrapper .mega-menu-push-item {
  display: flex;
}

.mega-menu--wrapper:not(.active-media) {
  display: block;
}

.mega-menu__content--push .mega-menu--wrapper:not(.active-media) .mega-menu__list {
  justify-content: space-between;
}

.mega-menu--wrapper:not(.active-media) .mega-menu__list.mega-menu_grid--3,
.mega-menu--wrapper:not(.active-media) .mega-menu__list.mega-menu_grid--4 {
  justify-content: center;
}

.mega-menu:not([data-handle="ready-to-wear"]) .mega-menu-wrapper--left {
  justify-content: space-between;
}

.mega-menu[data-handle="ready-to-wear"] .mega-menu-wrapper--left {
  justify-content: flex-start;
}

.mega-menu--wrapper.active-media.mega-menu-wrapper--center {
  justify-content: center;
}


.mega-menu--right {
  justify-content: flex-end;
  padding-right: 2rem;
}
.mega-menu-wrapper--right {
  justify-content: flex-end;
  gap: 2rem;
}

.mega-menu-wrapper--center {
  gap: 2rem;
}

.list-grandchild {
  padding-left: 1.2rem;
}

.mega-menu[data-handle="ready-to-wear"] .mega-menu__list {
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (max-width: 1380px) {
  .mega-menu[data-handle="ready-to-wear"] .mega-menu-push-item {
    display: none;
  }
  .mega-menu[data-handle="ready-to-wear"] .mega-menu--wrapper {
    display: block;
  }

  .mega-menu[data-handle="ready-to-wear"] .mega-menu__list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 2000px) {
  .mega-menu[data-handle="ready-to-wear"] .mega-menu--wrapper {
    justify-content: space-around;
  }
  .mega-menu[data-handle="ready-to-wear"] .mega-menu__list {
    justify-content: flex-start;
    flex-grow: 0;
  }
}

.mega-menu__list,
.mega-menu--wrapper {
  gap: clamp(4rem, 4vw, 6rem);
}

.push-container {
  position: relative;
}

/* Accessibility app turned ON */

body.acsb-keynav .mega-menu__content[data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown], 
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content[data-acsb-dropdown] {
  display: flex!important;
  max-height: 500px!important;
  width: auto!important;
  padding: 2.4rem 2rem!important;
}

body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list .acsb-flat-submenu-wrap,
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list .acsb-flat-submenu-wrap {
  max-width: 100%!important;
  width: auto!important;
  padding: 0!important;
}

body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list ul, 
body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list [data-acsb-menu=ul],
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list ul, 
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-flatten-menu] .mega-menu__list [data-acsb-menu=ul] {
  padding: 0!important;
}

body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list[data-acsb-menu=ul], 
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list[data-acsb-menu=ul] {
  display: flex!important;
  padding: 0!important;
  max-width: 100%!important;
  margin-left: 23.75rem!important;
  margin-right: auto!important;
}

body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content:not(.mega-menu__content--4-push).mega-menu__content--4[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--4[data-acsb-menu=ul], 
body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content:not(.mega-menu__content--4-push).mega-menu__content--4[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--4[data-acsb-menu=ul] {
  margin: 0 0 0 23.75rem!important;
  gap: 0 4rem;
}

@media screen and (min-width: 1475px) {
  body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--3[data-acsb-menu=ul], 
  body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--3[data-acsb-menu=ul] {
    margin: 0 0 0 23.75rem!important;
  }
}

@media screen and (max-width: 1250px) {
  body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list.mega-menu_grid--1[data-acsb-menu=ul], 
  body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list.mega-menu_grid--1[data-acsb-menu=ul],
  body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list.mega-menu_grid--2[data-acsb-menu=ul], 
  body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] [data-acsb-dropdown] .mega-menu__list.mega-menu_grid--2[data-acsb-menu=ul],
  body.acsb-keynav [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content:not(.mega-menu__content--4-push).mega-menu__content--4[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--4[data-acsb-menu=ul], 
  body.acsb-keynav li[data-acsb-menu-focused=true][data-acsb-show-dd=true] .mega-menu__content:not(.mega-menu__content--4-push).mega-menu__content--4[data-acsb-dropdown] .mega-menu__list.mega-menu_grid--4[data-acsb-menu=ul]
   {
    margin-left: 22.5rem!important;
  }
}

body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] ul [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] ul li, 
body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] [data-acsb-menu=ul] [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] [data-acsb-menu=ul] li, 
body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] .acsb-flat-submenu-wrap [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] [data-acsb-menu=li][data-acsb-menu-focused=true][data-acsb-flatten-menu] .acsb-flat-submenu-wrap li, 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] ul [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] ul li, 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] [data-acsb-menu=ul] [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] [data-acsb-menu=ul] li, 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] .acsb-flat-submenu-wrap [data-acsb-menu=li], 
body.acsb-keynav[data-template-name] li[data-acsb-menu-focused=true][data-acsb-flatten-menu] .acsb-flat-submenu-wrap li {
  margin: 10px 0!important;
}