
.section {
  margin-bottom: 20rem;
}

.style-guide-heading {
  font-size: 2.8rem;
}

.desktop-container, .mobile-container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 4rem 5rem
}
.mobile-container .headings-container {
  gap: 8rem
}

.headings-container, .text-container {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}
.section .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3.2rem 4.5rem;
}
.section .header span {
  font-size: 2rem;
}

.device-title {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  padding: 1.8rem 5rem;
  font-size: 1.4rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #000;
}


.mobile-container h1 {
  font-size: 4rem;
}
.mobile-container h2 {
  font-size: 2rem;
}
.mobile-container h3, h4, h5 {
  font-size: 1.4rem;
}

.mobile-container .text-large {
  font-size: 1.4rem;
}

.mobile-container .text {
  font-size: 1.2rem;
}

.mobile-container .text-small {
  font-size: 1rem;
}

.mobile-visible{
  display: none;
}
.mobile-grid {
  border-left: 1px solid #000
}
.mobile-container {
  padding-top:8rem
}
@media screen and (max-width: 1140px) {
  .mobile-grid {
    display: none;
  }
  .main {
    display: block;
  }
  .desktop-visible {
    display: none;
  }
  .mobile-visible {
    display: inline;
  }
  .section.buttons-section .btns-mobile,
  .section.buttons-section .btns-desktop,
  .section.buttons-section .buttons-bar {
    display: none;
  }

  .icon-right {
    flex-wrap: wrap;
    padding-right: 5rem;
  }
  .icon-row {
    gap: 5rem!important;
  }
  .section.icons {
    overflow-x: hidden
  }
}

@media screen and (min-width: 1139px) {
  .btns-mobile-display {
    display: none!important; 
  }
}

.typography-body .mobile-container {
  padding-top:4rem
}

.colors-row-1 .color-box {
  width: auto;
  height: 47.5rem;
  flex-grow: 1
}

.colors-row-2 .color-box {
  width: auto;
  height: 27rem;
  flex-grow: 1;
}

.color-box p:nth-child(1){
  padding: 20px 0 10px 20px;
  font-size: 1.4rem;
}
.color-box p:nth-child(2){
  padding: 10px 0 10px 20px;
  font-size: 1.4rem;
  max-width: 20rem;
}

.colors-row-1, .colors-row-2 {
  display: flex;
}

@media screen and (max-width: 1139px) {
  .colors-row-1, .colors-row-2 {
    flex-direction: column;
  }
  .colors-row-1 .color-box {
    height: 27rem;
  }
  .colors .colors-row-1 .color-box:nth-child(5) {
    border: none;
  }
}

.colors-row-1 .color-box:nth-child(1) {
  background-color: var(--black);
  color: #fff
}

.colors-row-1 .color-box:nth-child(2) {
  background-color: var(--dark-silver);
  color: #fff;
}

.colors-row-1 .color-box:nth-child(3) {
  background-color: var(--silver);
}

.colors-row-1 .color-box:nth-child(4) {
  background-color: var(--platinum);
}

.colors-row-1 .color-box:nth-child(5) {
  background-color: var(--white);
  border-top: 1px solid #000;
  border-left: 1px solid #000
}

.colors-row-2 .color-box:nth-child(1) {
  background-color: var(--warm-silver);
}

.colors-row-2 .color-box:nth-child(2) {
  background-color: var(--blue);
  color: #fff;
}

.colors-row-2 .color-box:nth-child(3) {
  background-color: var(--light-blue);
  color: #fff;
}

.colors-row-2 .color-box:nth-child(4) {
  background-color: var(--error);
  color: #fff;
}

.buttons-bar {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-around;
}

.buttons-bar div:not(:last-child) {
  border-right: 1px solid #000
}

.buttons-bar div,
.flex div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-bar div:nth-child(2),
.flex div:nth-child(2),
.buttons-bar div:nth-child(3),
.flex div:nth-child(3) {
  width: 100%;
}


.flex div {
  border-top: 1px solid var(--black);
  padding: 2rem 0;
}
.flex div:not(:last-child) {
  border-right: 1px solid var(--black) 
}
.buttons-bar div p {
  padding: 2rem 0;
  font-size: 1.4rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex div:first-child {
  width: 70%;
}

.flex div:first-child p {
  font-size: 1.4rem;
}

.Button-primary-hover {
  background: var(--dark-silver);
  border: 1px solid var(--dark-silver);
  color: #fff;
}

.Button-primary-outline-hover {
  background: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.btns-desktop,
.btns-mobile {
  display: flex;
  flex-direction: column;
}

.btns-desktop div:last-child div,
.btns-mobile div:last-child div {
  border-bottom: 1px solid var(--black);
}

.Button-secondary-hover {
  color: var(--white)!important;
  background: var(--black)!important;
} 

.Button-focus {
  border: none;
  outline: 2px solid var(--blue)
}

.Button-primary-focus {
  border: 2px solid var(--black)
}

.Button-tertiary-hover {
  color: var(--dark-silver)
}

/* BTNS MOBILE */

.btns-mobile .Button {
  padding: 1rem 12.4rem;
}

.btns-mobile .Button-secondary {
  padding: 0.4rem 4rem;
}

.btns-mobile .Button-tertiary {
  padding: 0;
}

.buttons-device-title {
  font-size: 1.4rem;
  line-height: 2;
  padding: 2rem 5rem; 
}

.mobile-display-type {
  border-bottom: 1px solid var(--black);
  padding-bottom: 3rem;
}

.mobile-display-type > p {
  text-align: center;
  padding-bottom: 2rem;
}

.btns-mobile-display {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 30rem;
  margin: 0 auto
}

.mobile-dispaly-state {
  margin-bottom: 2rem;
}

.mobile-dispaly-state p {
  font-size: 1.2rem;
}

.icon-row {
  display: flex;
  gap: 10rem;
  padding-left: 3rem;
  align-items: center;
  border-top: 1px solid #000;
}
.icon-row:last-child {
  border-bottom: 1px solid #000;
}
.icon-right {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.icon-left {
  width: 12rem;
  padding: 5rem 0;
  border-right: 1px solid #000;
  min-width: 12rem;
}

.icon-row:last-child .Icon {
  width: 1.4rem;
  height: 1.4rem;
}
.icon-row:nth-child(8) .Icon {
  width: 1.8rem;
  height: 1.8rem;
}
.icon-row:nth-child(7) .Icon {
  width: 2.2rem;
  height: 2.2rem;
}
.icon-row:nth-child(6) .Icon {
  width: 2.4rem;
  height: 2.4rem;
}

.Icon--play-large:nth-child(1) {
  width: 3.4rem;
  height: 3.4rem;
}
.Icon--play-large:nth-child(2) {
  width: 6rem;
  height: 6rem;
}
.Icon--play-large:nth-child(3) {
  width: 10rem;
  height: 10rem;
}